
/* ----- item display ----- */
.displayContainer {
   position: relative;
   height: auto;
   box-sizing: border-box;
}
.itemDisplay {
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   height: auto;
   overflow: auto;
}
