
.displayArea { width: var(--display-width); box-sizing: border-box; }

.displayArea > p:first-child {
   text-align: center;
   margin: 0px;
   padding: 0px;
   padding-bottom: 12px;
   border-bottom: 1px dotted var(--color-black);
}


/* ----- action bar ----- */
.actionbar {
   display: flex;
   padding: var(--main-padding) 0px;
   flex-wrap: wrap;
   gap: 12px;
}

.actionbar > div {
   display: flex;
   flex-wrap: wrap;
   gap: 6px;
}

/* ----- scene controller ----- */
.sceneOptions {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.sceneController {
   display: flex;
   justify-content: center;
   align-items: center;
}

.sceneController:not(.active) { opacity: 0.3; }
.sceneController.hidden { visibility: hidden; }

.sceneController > span {
   padding: 0 12px;
   font-size: 24px;
   font-weight: bold;
}

.sceneController > span.adjust {
   font-size: 36px;
   transform: translate(0, -3px);
}


/* ----- canvas container ----- */
.canvasContainer {
   width: 100%;
   height: var(--canvas-height);
   position: relative;
   background: var(--canvas-background);
}

.canvasContainer canvas {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}