@font-face {
   font-family: 'Roboto';
   src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
   font-family: 'Roboto';
   src: url('fonts/Roboto-Bold.ttf');
   font-weight: 700;
}

body, html {
   margin: 0px;
   padding: 0px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: 'Roboto', sans-serif;
   color: var(--color-black);
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
}

a { margin: 0; padding: 0; text-decoration: none; color: var(--color-black); }

/* ----- globals ----- */

:root {
   --color-black: #1e1e1e;

   --ncsu-dark-red: #900;
   --ncsu-light-red: #c00;
   --ncsu-dark-gray: #333;
   --ncsu-mid-gray: #555;
   --ncsu-light-gray: #cacaca;

   --content-max-width: 1000px;
   --content-fallback-width: 700px;

   --canvas-height: 500px;
   --canvas-background: none;

   --main-spacing: 20px;
   --main-padding: 20px;
}

/* remove text selection */
.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.noscrollbar {
   scrollbar-width: none;
   -ms-overflow-style: none;
}
.noscrollbar::-webkit-scrollbar {
   display: none;
}

/* ----- layout troubleshooting (uncomment to view all borders) ----- */
/* * {
   background: #000 !important;
   color: #0f0 !important;
   outline: solid #f00 1px !important;
} */


.mainContainer {
   width: var(--content-max-width);
   margin: auto;
}

.datavisContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: var(--main-spacing);
   padding: var(--main-spacing) 0px; /* main spacing, still for grid gap */
   box-sizing: border-box;

   --display-width: calc( 9 / 13 * (var(--content-max-width) - var(--main-spacing)));
   --toolbar-width: calc( 4 / 13 * (var(--content-max-width) - var(--main-spacing)));
}

@media only screen and (max-width: 1000px) {
   .mainContainer { width: var(--content-fallback-width); }
   .datavisContainer {
      --custom-padding: calc((700px - var(--toolbar-width))/2);
      --display-width: 100%;
      width: var(--content-fallback-width);
   }
   .datavisContainer > *:last-child {
      --toolbar-width: 100%;
      padding: var(--main-padding) var(--custom-padding);
      min-height: 500px;
   }
}

@media only screen and (max-width: 700px) {
   .mainContainer { width: 100vw; }
   .datavisContainer {
      --custom-padding: calc((100vw - var(--toolbar-width))/2);
      --canvas-height: calc((100vw / 1.618));
      --canvas-background: #c0c0c0;
      width: 100%;
   }
}

.datavisContainer > * {
   background: var(--ncsu-light-gray);
   border-radius: var(--main-spacing);
   padding: var(--main-padding);
}