@font-face {
   font-family: 'Roboto';
   src: url('assets/fonts/Roboto-Regular.ttf');
}
@font-face {
   font-family: 'Roboto';
   src: url('assets/fonts/Roboto-Bold.ttf');
   font-weight: 700;
}

body, html {
   margin: 0px;
   padding: 0px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: 'Roboto', sans-serif;
   color: var(--color-black);
   background: var(--color-white);
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
   overscroll-behavior-y: contain;     /* no refresh on pull-down in mobile */
}

/* ----- layout troubleshooting (uncomment to view all borders) ----- */
/* * {
   background: #000 !important;
   color: #0f0 !important;
   outline: solid #f00 1px !important;
} */


/* ----- globals ----- */
:root {
   --color-black: #1e1e1e;
   --color-primary: #113377;
   --color-white: #fbf9ff;

   --ncsu-dark-red: #900;
   --ncsu-light-red: #c00;
   --ncsu-dark-gray: #333;
   --ncsu-mid-gray: #555;
   --ncsu-light-gray: #cacaca;
}

.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.noscrollbar {
   scrollbar-width: none;
   -ms-overflow-style: none;
}
.noscrollbar::-webkit-scrollbar { display: none; }

a { 
   margin: 0; 
   padding: 0; 
   text-decoration: none; 
   color: var(--color-primary); 
}


/* ----- main layout ----- */
.mainLayout {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
}

.mainContainer { width: calc( min(1000px, 100vw) ); margin: auto; }

.datavis {
   --display-background: #484848;
   --toolbar-background: #dbd9dd;
   --divider-background: var(--color-black); 
   --display-darker: #333333;
   --toolbar-darker: #7b797d;

   height: 100%;
}

.datavis__flex {
   --display-width: 0;
   display: flex;
   width: 100vw;
   height: 100%;
}

.datavis__divider {
   flex-shrink: 0;
   box-sizing: border-box;
   width: 1rem;
   cursor: ew-resize;
   background: var(--divider-background);
   border-left:  4px solid var(--display-darker);
   border-right: 4px solid var(--toolbar-darker);
}


/* ----- resizing ----- */
@media only screen and (max-width: 700px) {
   .datavis__flex { flex-direction: column; }
   .datavis__divider {
      cursor: ns-resize;
      border: none;
      border-top: 4px solid var(--display-darker);
      border-bottom: 3px solid var(--toolbar-darker);
      width: 100vw;
      height: 1rem;
   }
}

/* ----- change global sizing ----- */
@media only screen and (max-width: 525px) {
   :root { font-size: 12px;}
}

/* don't center header on large screens */
@media only screen and (min-width: 1450px) {
   .mainContainer { margin: 0; margin-left: 225px}
}