/* ----- index.js ----- */
.toolbar {
   flex: 1;
   display: grid;
   grid-template-rows: repeat(2, auto) 1fr;
   box-sizing: border-box;
   background: var(--toolbar-background);
   padding: 1rem;
}

@media only screen and (max-width: 700px) {
   .toolbar { width: 100vw; }
}

.toolbar p { text-align: center; margin: 1rem; }


/* ----- options section ----- */
.options {
   border-bottom: 1px dotted var(--ncsu-dark-gray);
   padding: 0 0 0.5rem 0;
}


/* ----- item creator ----- */
.options__itemCreator {
   display: flex;
   width: 100%;
   gap: 0.25rem;
   justify-content: flex-end;
}

.options__miniHeader {
   font-size: 12px;
   text-align: right;
}