/* ----- index.js ----- */
.toolbarArea {
   display: grid;
   grid-template-rows: repeat(3, auto) 1fr;
}

.toolbarArea>p:first-child {
   text-align: center;
   margin: 0px;
   padding: 0px;
   padding-bottom: 12px;
   border-bottom: 1px dotted var(--ncsu-dark-gray);
}

.toolbarArea>p:not(:first-child) {
   text-align: center;
}

.optionsArea {
   border-bottom: 1px dotted var(--ncsu-dark-gray);
}

/* ----- camera controller ----- */
.cameraController>button {
   width: 80px;
   padding: 6px 12px;
   border: none;
   float: right;
}
.cameraController>button:not(:first-child) {
   margin-right: 6px;
}

.cameraController>button.active {
   background: green;
}

/* ----- item creator ----- */
.itemCreator>button,.itemCreator>select {
   float: right;
   border: none;
}
.itemCreator>select {
   margin-right: 6px;
}