/* ----- index.js ----- */
.toolbarArea {
   display: grid;
   grid-template-rows: auto auto 1fr;
}

.toolbarArea>p:first-child {
   text-align: center;
   margin: 0px;
   padding: 0px;
   padding-bottom: 12px;
   border-bottom: 1px dotted var(--ncsu-dark-gray);
}

.optionsArea {
   border-bottom: 1px dotted var(--ncsu-dark-gray);
}

/* ----- camera controller ----- */
.cameraController>button {
   width: 80px;
   padding: 6px 12px;
   border: none;
   float: right;
}
.cameraController>button:not(:first-child) {
   margin-right: 6px;
}

/* ----- item creator ----- */
.itemCreator>button,.itemCreator>select {
   float: right;
   border: none;
}
.itemCreator>select {
   margin-right: 6px;
}

/* ----- item display ----- */
.displayContainer {
   position: relative;
   height: auto;
   box-sizing: border-box;
}
.itemDisplay {
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   height: auto;
   overflow: auto;
}
.itemDisplay>p:first-child {
   text-align: center;
   margin: 0px;
   padding: 12px 0px;
}

/* ----- vis item ----- */
.visItem {
   /* position: relative; */
   height: 30px;
}

.visItem:nth-child(2n) {
   background: #c0c0c0;
}

.visItem::after {
   clear: both;
   content: '';
}
.visItem p {
   margin: 0px;
   padding: 0px;
}

.visItem .closeButton {
   float: right;
   filter: brightness(100%);
   -webkit-filter: brightness(100%);
   transition: all 0.2s;
   cursor: pointer;
}
.visItem .closeButton:hover {
   filter: brightness(80%);
   -webkit-filter: brightness(80%);
}

.visItem .varSelect {
   float: right;
   margin-right: 6px;
   height: 24px;
   border: none;
}