
/* ----- index.js ----- */
.header h1 {
   margin: 0px;
   padding: 0px;
   font-size: 38px;
   font-weight: bold;
   color: var(--ncsu-dark-red);
}

.header h2 {
   margin: 0px;
   padding: 0px;
   font-size: 18px;
   font-weight: bold;
   padding: 12px 100px;
   padding-top: 6px;
}

/* ----- navbar.js ----- */
.navbar {
   background: var(--ncsu-dark-gray);
}
 
.navbar .mainContainer div {
   display: inline-block;
   margin: 0px;
   padding: 6px 12px;
   color: white;
   background: var(--ncsu-light-red);
   transition: all 0.2s;
}
 
.navbar .mainContainer div:hover {
   background: var(--ncsu-dark-red);
}