.displayArea>p:first-child {
   text-align: center;
   margin: 0px;
   padding: 0px;
   padding-bottom: 12px;
   border-bottom: 1px dotted var(--ncsu-dark-gray);
}

/* .displayArea>canvas {
   margin: 0px;
   padding: 0px;
   border-top: 1px dotted var(--ncsu-dark-gray);
   border-bottom: 1px dotted var(--ncsu-dark-gray);
} */


.actionBar {
   margin: 0px;
   padding: var(--main-padding) 0px;
   height: 48px;
}

.actionBar>.changeView {
   display: inline-block;
   margin: 0px;
   padding: 0px;
   width: 48px;
   height: 48px;
   margin-right: 5px;
   background: #888;
   filter: brightness(100%);
   transition: all 0.2s;
   cursor: not-allowed;
   position: relative;
}
.actionBar>.changeView:hover {
   filter: brightness(80%);
}

.changeView>.flexText {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-weight: bold;
}

.actionBar>img {
   display: inline-block;
   margin: 0px;
   padding: 0px;
   width: 48px;
   height: 48px;
   margin-right: 5px;
   background: #966;
   filter: brightness(100%);
   transition: all 0.2s;
   cursor: pointer;
}

.actionBar>.separator {
   display: inline-block;
   content: '';
   width: 1.1px;
   height: 48px;
   position: relative;
   margin-right: 5px;
}
.actionBar>.separator::after {
   position: absolute;
   left: -1px;
   top: 10%;
   width: 1.1px;
   height: 80%;
   border-right: 1px dotted var(--ncsu-dark-gray);
   content: '';
}

.actionBar>img.active {
   background: #696;
}

.actionBar>img.disabled {
   background: #888;
   cursor: not-allowed;
}

.actionBar>img:hover {
   filter: brightness(80%);
}

.displayArea>.sceneOptions {
   display: flex;
   justify-content: space-around;
   align-items: center;
}


.sceneController {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.sceneController:not(.active) {
   filter:opacity(0.3);
}

.sceneController.hidden {
   filter: opacity(0.0);
}

.sceneController>* {
   display: flex;
   justify-content: center;
   align-items: center;
   /* width: 48px; */
   padding: 0px 12px;
   height: 48px;
   font-size: 24px;
   font-weight: bold;
}

.sceneController>*>* {
   font-size: 36px;
   font-weight: bold;
   transform: translate(0px, -3px);
}